.button {
    width: Fixed (314px);
    height: Fixed (48px);
    top: 344px;
    left: 21.5px;
    padding: 13px, 20px, 13px, 20px;
    border-radius: 8px;
    border: 2px;
    gap: 10px;
    background: rgba(253, 55, 126, 1);
    color: white;
    cursor: pointer;

    &.small {
    width: 49px;
    height: 19px;
    top: 51px;
    left: 497px;
    border-radius: 2px;
    font-family: Nunito;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    background: rgba(233, 236, 239, 1);
    color: rgba(33, 37, 41, 1);
    cursor: pointer;
    }
}